.scrollLock {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  font-style: normal;
  margin-right: auto;
  margin-left: 1rem;
  font-weight: bolder;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  font-size: 20px;
  font-weight: 600;
  color: #475569;
}

.headline-container {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap");

  display: flex;
  align-content: flex-start;
  background-image: url(./images/Header\ bck.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

h1 {
  color: #091e42;
  display: flex;
  flex-direction: row;
  max-width: 350px;
  margin-left: 180px;
  padding-top: 70px;
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.items1 {
  margin-top: 60px;
}

.item3 {
  max-width: 920px;
  line-height: 28px;
  font-size: 20px;
  margin-left: 180px;
  color: #344563;
  font-weight: 400;
}

.contact {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: left;
  margin-left: 180px;
}

.icons {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: 140px;
  margin-bottom: 120px;
  margin-right: 140px;
}

/* start of media query */

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    transition: 0.3s;
    background-color: #6070ff;
    backdrop-filter: blur(6px);
    mix-blend-mode: multiply;
    height: 600px;
    margin-top: -79px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    color: #fff;
    font-size: 25px;
  }

  .nav-item {
    padding-right: 300px;
  }

  .nav-item1 {
    margin-top: 70px;
  }

  .nav-item3 {
    margin-bottom: 350px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    background-color: #fff;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
    background-color: #fff;
    position: fixed;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
    background-color: #fff;
    position: fixed;
  }

  h1 {
    max-width: 350px;
    margin-left: 25px;
    padding-top: 70px;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 800;
  }

  body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    border: 2px #091e42;
    max-width: 650px;
    height: 100vh;
    margin: auto;
  }

  .item3 {
    font-size: 17px;
    margin-left: 30px;
    width: 90%;
  }

  .contact {
    margin-left: 30px;
    font-size: 15px;
  }

  .icons img {
    width: 10px;
  }

  .icons {
    display: flex;
    gap: 10px;
    margin-left: -20px;
    margin-bottom: 120px;
    font-size: 14px;
  }
}

/* end of media query for section one */

.middle-section {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 1228px;
  grid-template-rows: 680px;
  box-sizing: border-box;
  place-items: center;
}

.card1 {
  align-self: flex-start;
  background-color: #fff;
  border: 1px white;
  border-radius: 24px;
  width: 1156px;
  height: 496px;
  margin-top: -10px;
  margin-bottom: 60px;
  padding-right: 5px;
  display: grid;
  grid-auto-flow: column;
}

.word-title {
  font-family: "Poppins", sans-serif;
  margin-right: 230px;
  flex-flow: column;
}

.w-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 40px;
}

.name {
  font-weight: 800;
  font-size: 40px;
  color: #091e42;
  vertical-align: top;
  line-height: 52px;
  text-align: left;
}

.name1 {
  font-weight: 800;
  font-size: 40px;
  color: #091e42;
  vertical-align: top;
  line-height: 52px;
  text-align: left;
}

.languages {
  display: flex;
  align-self: flex-start;
  padding-left: 0;
  gap: 10px;
  margin-top: 20px;
  margin-left: 40px;
}

.languages-2 {
  margin-left: 40px;
  display: flex;
  align-self: flex-start;
  padding-left: 0;
  gap: 10px;
  margin-top: 15px;
}

button {
  margin-left: 40px;
}

.snapshoot img {
  padding: 16px;
}

.icon li {
  list-style: none;
  margin-left: 40px;
  position: relative;
  display: inline-flex;
}

.canop li:nth-child(1) {
  color: #344563;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.languages li:nth-child(n) {
  border: 1px;
  border-radius: 8px;
  padding: 5px 12px 5px 12px;
  background-color: #ebebff;
  color: #6070ff;
  letter-spacing: 3%;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  list-style: none;
  margin-bottom: 30px;
}

.word-2 {
  margin-right: 40px;
}

hr {
  border: 1px solid #ebecf0;
  width: 80%;
}

.languages-2 li:nth-child(n) {
  border: 1px;
  border-radius: 8px;
  padding: 5px 12px 5px 12px;
  background-color: #ebebff;
  color: #6070ff;
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
  list-style: none;
}

.languages3 li:nth-child(n) {
  border: 1px;
  border-radius: 8px;
  padding: 5px 12px 5px 12px;
  background-color: #ebebff;
  color: #6070ff;
  letter-spacing: 3%;
  font-size: 15px;
  text-align: center;
}

.w-title ul li:nth-child(n + 2) {
  color: #6b778c;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: 500;
  list-style-image: url(./images/dot1.png);
  margin-left: 20px;
}

.p-text {
  font-size: 15px;
  font-weight: 400;
  color: #344563;
  vertical-align: text-top;
  line-height: 24px;
  margin-left: 40px;
}

.canop {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: baseline;
  align-self: flex-start;
  gap: 10px;
  list-style: none;
}

.tap {
  cursor: pointer;
  padding: 13px;
  color: #396df2;
  font-size: 15px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #396df2;
}

/* media query for the above card */
@media (max-width: 768px) {
  .middle-section {
    align-items: flex-start;
    flex-direction: column;
    grid-template-columns: 650px;
    grid-template-rows: 790px;
    box-sizing: border-box;
  }

  .card1 {
    display: block;
    background-size: contain;
    background-color: #fff;
    border: 1px white;
    border-radius: 16px;
    height: 700px;
    width: 550px;
    align-self: flex-start;
    margin-top: 88px;
    padding-right: 5px;
  }

  .responsive {
    width: 450px;
    margin-left: 40px;
    margin-right: auto;
  }

  .name {
    font-size: 20px;
    margin-left: 20px;
  }

  .name1 {
    margin-top: -14px;
    margin-left: 20px;
    font-size: 25px;
  }

  .languages li:nth-child(n) {
    font-size: 13px;
    margin-left: 20px;
  }

  .canop li:nth-child(1) {
    margin-left: 20px;
    margin-top: -50px;
  }

  .w-title ul li:nth-child(n + 2) {
    font-size: 14px;
    margin-top: -30px;
  }

  .word {
    font-size: 15px;
    margin-left: 20px;
    margin-top: -2px;
  }

  .word-title {
    margin-right: 5px;
  }

  .word-2 {
    margin-left: 20px;
    font-size: 15px;
  }

  .languages {
    margin-top: -15px;
    font-size: 15px;
    gap: 5px;
  }

  button.tap {
    position: absolute;
    margin-left: 50px;
    margin-top: -10px;
  }
}

/* end of media quary for this session */

.card2 {
  background-color: #fff;
  border: 1px white;
  border-radius: 24px;
  padding-left: 5px;
  height: 496px;
  width: 1156px;
  margin-top: 0;
  display: grid;
  margin-bottom: 60px;
  grid-auto-flow: column;
}

.snapt {
  order: 1;
  max-height: 450px;
  max-width: 545px;
}

.snapt img {
  height: 448px;
  width: 544px;
  padding-right: 40px;
  padding-top: 20px;
}

.titol {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.snapshooti img {
  width: 500px;
  padding-top: 20px;
}

.blind {
  cursor: pointer;
  color: #396df2;
  font-size: 17px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #396df2;
  max-width: 120px;
  max-height: 110px;
  padding: 10px;
  margin-top: 10px;
}

.see {
  background-color: #396df2;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #396df2;
  max-width: 120px;
  max-height: 110px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* media quries for the above code begin from here */

@media (max-width: 768px) {
  .card2 {
    display: block;
    background-size: contain;
    background-color: #fff;
    border: 1px white;
    border-radius: 16px;
    height: 700px;
    width: 550px;
    align-self: flex-start;
    margin-top: 88px;
    padding-right: 5px;
  }

  .snapt img {
    width: 460px;
    height: 278px;
    margin-left: 30px;
    margin-right: 10px;
  }

  .languages-2 li:nth-child(n) {
    font-size: 15px;
    margin-top: -20px;
  }

  .languages-2 {
    padding-left: 10px;
  }

  .blind {
    padding-left: 2px;
    width: 50%;
    margin-bottom: 20px;
  }

  .see {
    width: 50%;
    margin-top: -60px;
  }

  .snapshooti img {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* media queries ends here */

.about-me {
  background-color: #e5e5e5;
  height: 100vh;
}

.me {
  column-count: 2;
  border-top-right-radius: 80px;
  column-gap: 5px;
  background: #fff;
}

.myself {
  font-weight: 900;
  font-size: 50px;
  line-height: 55px;
  color: #091e42;
  width: 40px;
  margin-left: 80px;
  margin-top: 80px;
}

header {
  font-family: 'Poppins', sans-serif;
  color: #ebebff;
  text-align: center;
  vertical-align: top;
  padding-right: 30px;
}

.connect {
  color: #7f8cff;
  font-size: 15px;
  margin-left: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.hello {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 80px;
  width: 70%;
}

.lang {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  width: 90%;
}

.start {
  display: flex;
  line-height: 24px;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: 100px;
}

.lan {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: left;
  color: #000;
  font-weight: 700;
  list-style: none;
}

.lang-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 9px;
  list-style: none;
  gap: 10px;
}

.end {
  margin-top: 40px;
}

.frame {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  list-style: none;
  color: #344563;
  font-weight: 500;
  font-size: 20px;
}

hr.solid {
  color: #dfe1e6;
  width: 327px;
  height: 2px;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  list-style: none;
  color: #344563;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.press {
  margin-left: 80px;
  cursor: pointer;
  margin-bottom: 150px;
  width: 30%;
  padding: 10px;
  background-color: #fff;
  color: #396df2;
  font-size: 17px;
  font-weight: 700;
  border: 2px solid #396df2;
  border-radius: 10px;
}

/* media query for about me */
@media (max-width: 768px) {
  .me {
    column-count: 1;
    display: block;
  }

  .myself {
    font-size: 28px;
    line-height: 25px;
    margin-left: 50px;
  }

  .hello {
    font-size: 18px;
    display: flex;
    margin-left: 50px;
    line-height: 28px;
  }

  .connect {
    font-size: 15px;
    margin-left: 50px;
  }

  .icon li {
    display: inline-block;
    gap: 2px;
    margin: 5px;
  }

  .press {
    margin-left: 50px;
    margin-bottom: 120px;
  }

  .start {
    font-size: 15px;
    padding-bottom: 30px;
  }

  .lang-icons {
    display: block;
    margin-bottom: 60px;
    gap: 10px;
  }

  .icon li img {
    width: 50%;
  }
}

/* media query ends */

.contact-part {
  height: auto;
  background-color: #6070ff;
  color: #ffff;
  text-align: center;
  border-top-left-radius: 80px;
  background-image: url(./images/contactformback.png);
  background-size: cover;
  padding-top: 80px;
}

.header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 36.5px;
  color: #ffff;
  text-align: center;
  margin-left: 436px;
  margin-right: 435px;
}

.formie {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.formie .field {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  font-size: 15px;
  background-color: #fff;
  line-height: 20px;
  font-weight: 400;
  border: none;
  align-self: auto;
}

.formie .mail {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  font-size: 15px;
  background-color: #fff;
  line-height: 20px;
  font-weight: 400;
  border: none;
  color: #172b4d;
}

.formie .field:focus {
  border: none;
}

.formie .typing {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #172b4d;
  border: none;
}

::placeholder {
  color: #172b4d;
  font-size: 17px;
  text-align: left;
  line-height: 17px;
}

.typing::placeholder {
  color: #b3bac5;
  font-size: 16px;
}

.in-touch {
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 15%;
  padding: 10px;
  background-color: #fff;
  color: #396df2;
  font-size: 17px;
  font-weight: 700;
  border: 2px solid #396df2;
  border-radius: 10px;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background-color: #2230d2;
}

/* media query for the contact-part */

@media (max-width: 768px) {
  .contact-part {
    display: block;
    margin-top: 169%;
  }

  .text {
    margin: 0;
    font-size: 15px;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .formie .field {
    width: 70%;
  }

  .formie .mail {
    width: 70%;
  }

  .formie .typing {
    width: 70%;
  }

  .in-touch {
    width: 40%;
    margin-bottom: 90px;
    margin-left: 60px;
  }
}

/* styling for pop-up window in the desktop version */
.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 100vh;
  background-image: url(./images/mcDesktop.png);
  backdrop-filter: blur(7px);
  max-height: 1577px;
  background-color: #c1c7d0;
  backdrop-filter: blur(6px);
  mix-blend-mode: multiply;
  transform: scale(0);
}

.popUp.active {
  transform: scale(1);
}

.top {
  background-color: #fff;
  border-radius: 16px;
  margin: -20px 130px;
  height: 750px;
  width: 870px;
}

.major {
  display: flex;
  justify-content: space-between;
}

.person {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  margin-left: 85px;
}

.cross {
  max-width: 20px;
  max-height: 20px;
  color: #67798e;
  margin-top: 50px;
}

.lists {
  display: flex;
  margin: -30px 0 20px 50px;
  align-self: baseline;
}

.list1 {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.sector ul li:nth-child(n + 2) {
  color: #7a869a;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 500;
  list-style-image: url(./images/dot1.png);
  margin-left: 20px;
}

.responsive1 {
  width: 750px;
  height: 310px;
  margin-left: 85px;
}

.content {
  display: flex;
}

.text2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #344563;
  margin-left: 85px;
  margin-top: 10px;
  width: 90%;
}

.languages3 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 10px;
  width: 80%;
}

.langu {
  width: 50%;
}

.links {
  display: flex;
  margin-left: 10px;
}

.demo {
  display: flex;
  justify-content: space-between;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  color: #6070ff;
  font-weight: 600;
  padding: 5px;
  font-size: 15px;
  align-items: baseline;
}

.imo {
  max-height: 20px;
  max-width: 20px;
  padding-left: 8px;
  margin-top: 15px;
}

/* media query for pop-up window */
@media (max-width: 768px) {
  .popUp {
    display: flex;
    position: fixed;
    top: 0;
    min-width: 650px;
    min-height: 790px;
    align-items: flex-start;
    background-image: url(./images/Group55.png);
    background-size: cover;
  }

  .top {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 750px;
    width: 550px;
    margin-left: 70px;
  }

  .person {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .cross {
    margin-top: 18px;
    margin-left: 300px;
  }

  .sector {
    margin-top: 10px;
  }

  .responsive1 {
    margin-top: -10px;
    width: 465px;
    height: 260px;
    margin-left: 20px;
  }

  .content {
    flex-direction: column;
  }

  .text2 {
    margin-top: -8px;
    font-size: 13px;
    line-height: 18px;
    margin-left: 35px;
  }

  .langu {
    margin-top: -9px;
  }

  .lists {
    margin: -30px 0 20px -26px;
  }

  .languages3 {
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-left: -10px;
  }

  .languages3 li:nth-child(n) {
    letter-spacing: 2%;
    font-size: 13px;
  }

  .links {
    justify-content: space-between;
    padding: 5px;
    margin-top: 5px;
  }

  hr.strike {
    width: 455px;
    margin-left: 25px;
  }

  a.demo {
    display: flex;
    font-weight: 600;
    padding: 0 50px;
    font-size: 13px;
    margin-right: 20px;
    white-space: nowrap;
    align-items: baseline;
  }

  .imo {
    max-height: 18px;
    max-width: 18px;
    margin-left: 15px;
    align-self: center;
  }
}
